body {
  text-align: center;
  font-family: Arial;
  background: #f4f4f4;
}

.board {
  width: 300px;
  margin: 20px auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
}

.cell {
  width: 100px;
  height: 100px;
  background: white;
  border: 2px solid black;
  font-size: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cell.clickable {
  cursor: pointer;
}

.cell.clickable:hover {
  background: #eee;
}
